In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('C:\\Users\Jatin Upreti\Downloads\MKRDATA_final.csv')
df

,Unnamed: 0,Timestamp,Age,Gender,Country,self_employed,family_history,treatment,no_employees,remote_work,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,0,2014-08-27 11:29:31,37,Female,United States,No,No,Yes,6-25,No,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,1,2014-08-27 11:29:37,44,M,United States,No,No,No,More than 1000,No,...,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,2,2014-08-27 11:29:44,32,Male,Canada,No,No,No,6-25,No,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,3,2014-08-27 11:29:46,31,Male,United Kingdom,No,Yes,Yes,26-100,No,...,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,4,2014-08-27 11:30:22,31,Male,United States,No,No,No,100-500,Yes,...,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,1254,2015-09-12 11:17:21,26,male,United Kingdom,No,No,Yes,26-100,No,...,Don't know,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No
1255,1255,2015-09-26 01:07:35,32,Male,United States,No,Yes,Yes,26-100,Yes,...,Yes,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No
1256,1256,2015-11-07 12:36:58,34,male,United States,No,Yes,Yes,More than 1000,No,...,Don't know,Somewhat difficult,Yes,Yes,No,No,No,No,No,No
1257,1257,2015-11-30 21:25:06,46,f,United States,No,No,No,100-500,Yes,...,Don't know,Don't know,Yes,No,No,No,No,No,No,No
1258,1258,2016-02-01 23:04:31,25,Male,United States,No,Yes,Yes,26-100,No,...,Yes,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 1259 non-null   int64
 1   Timestamp                  1259 non-null   object
 2   Age                        1259 non-null   int64
 3   Gender                     1259 non-null   object
 4   Country                    1259 non-null   object
 5   self_employed              1259 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   no_employees               1259 non-null   object
 9   remote_work                1259 non-null   object
 10  tech_company               1259 non-null   object
 11  benefits                   1259 non-null   object
 12  care_options               1259 non-null   object
 13  wellness_program           1259 non-null   object
 14  seek_help                  1259 non-null   object
 15  anonymity                  1259 non-null   object
 16  leave                      1259 non-null   object
 17  mental_health_consequence  1259 non-null   object
 18  phys_health_consequence    1259 non-null   object
 19  coworkers                  1259 non-null   object
 20  supervisor                 1259 non-null   object
 21  mental_health_interview    1259 non-null   object
 22  phys_health_interview      1259 non-null   object
 23  mental_vs_physical         1259 non-null   object
 24  obs_consequence            1259 non-null   object
dtypes: int64(2), object(23)
memory usage: 246.0+ KB

In [4]:
df.columns

Index(['Unnamed: 0', 'Timestamp', 'Age', 'Gender', 'Country', 'self_employed',
       'family_history', 'treatment', 'no_employees', 'remote_work',
       'tech_company', 'benefits', 'care_options', 'wellness_program',
       'seek_help', 'anonymity', 'leave', 'mental_health_consequence',
       'phys_health_consequence', 'coworkers', 'supervisor',
       'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [5]:
df.shape

(1259, 25)

In [8]:
df.count()

Unnamed: 0                   1259
Timestamp                    1259
Age                          1259
Gender                       1259
Country                      1259
self_employed                1259
family_history               1259
treatment                    1259
no_employees                 1259
remote_work                  1259
tech_company                 1259
benefits                     1259
care_options                 1259
wellness_program             1259
seek_help                    1259
anonymity                    1259
leave                        1259
mental_health_consequence    1259
phys_health_consequence      1259
coworkers                    1259
supervisor                   1259
mental_health_interview      1259
phys_health_interview        1259
mental_vs_physical           1259
obs_consequence              1259
dtype: int64

In [9]:
df.count(axis="columns")

0       25
1       25
2       25
3       25
4       25
        ..
1254    25
1255    25
1256    25
1257    25
1258    25
Length: 1259, dtype: int64

In [10]:
df.describe(include='all')

,Unnamed: 0,Timestamp,Age,Gender,Country,self_employed,family_history,treatment,no_employees,remote_work,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
count,1259.000000,1259,1.259000e+03,1259,1259,1259,1259,1259,1259,1259,...,1259,1259,1259,1259,1259,1259,1259,1259,1259,1259
unique,NaN,1246,NaN,49,48,2,2,2,6,2,...,3,5,3,3,3,3,3,3,3,2
top,NaN,2014-08-27 12:31:41,NaN,Male,United States,No,No,Yes,6-25,No,...,Don't know,Don't know,No,No,Some of them,Yes,No,Maybe,Don't know,No
freq,NaN,2,NaN,615,751,1113,767,637,290,883,...,819,563,490,925,774,516,1008,557,576,1075
mean,629.000000,NaN,7.942815e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,363.586303,NaN,2.818299e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,-1.726000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,314.500000,NaN,2.700000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,629.000000,NaN,3.100000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,943.500000,NaN,3.600000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1258.000000,NaN,1.000000e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df2=df.describe(include=['object'])

In [20]:
df2

,Timestamp,Gender,Country,self_employed,family_history,treatment,no_employees,remote_work,tech_company,benefits,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
count,1259,1259,1259,1259,1259,1259,1259,1259,1259,1259,...,1259,1259,1259,1259,1259,1259,1259,1259,1259,1259
unique,1246,49,48,2,2,2,6,2,2,3,...,3,5,3,3,3,3,3,3,3,2
top,2014-08-27 12:31:41,Male,United States,No,No,Yes,6-25,No,Yes,Yes,...,Don't know,Don't know,No,No,Some of them,Yes,No,Maybe,Don't know,No
freq,2,615,751,1113,767,637,290,883,1031,477,...,819,563,490,925,774,516,1008,557,576,1075

In [23]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, count to freq
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  4 non-null      object
 1   Gender                     4 non-null      object
 2   Country                    4 non-null      object
 3   self_employed              4 non-null      object
 4   family_history             4 non-null      object
 5   treatment                  4 non-null      object
 6   no_employees               4 non-null      object
 7   remote_work                4 non-null      object
 8   tech_company               4 non-null      object
 9   benefits                   4 non-null      object
 10  care_options               4 non-null      object
 11  wellness_program           4 non-null      object
 12  seek_help                  4 non-null      object
 13  anonymity                  4 non-null      object
 14  leave                      4 non-null      object
 15  mental_health_consequence  4 non-null      object
 16  phys_health_consequence    4 non-null      object
 17  coworkers                  4 non-null      object
 18  supervisor                 4 non-null      object
 19  mental_health_interview    4 non-null      object
 20  phys_health_interview      4 non-null      object
 21  mental_vs_physical         4 non-null      object
 22  obs_consequence            4 non-null      object
dtypes: object(23)
memory usage: 768.0+ bytes

In [22]:
df2.shape

(4, 23)